*{
    padding:0;
    margin:0;
    font-family: 'Bodoni 72', serif ;
}
    
body{
    box-sizing: border-box;
    width:100%;
    font-size:62.5%;
}

h1,h2,h3,label, button{
    font-family: 'Futura', sans-serif;
}

header h1{
    text-transform:uppercase;
    font-size:2rem;
    padding:30px;
    text-align:center;
    letter-spacing: 0.05rem;
}

header p{
    font-size:1.5rem;
}

header h1::first-letter{
    color:red;
    font-size:2.5rem;
}

p{
    text-align: center;
    padding-bottom:10px;
}

main{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
}

header{
    width:100%;
    background-color: blanchedalmond;
    padding:1rem;
    margin:0 auto;
}

/*---------------NAV----------------*/

nav{
    background-color: black;
    color:white;
    width:100%;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    margin:0;
    padding:10px;
}

nav li{
    margin-left:10px;
}

nav button{
    background-color: black;
    border:1px solid white;
    color:white;
    padding:0.5rem;
    transition: linear 0.2s;
    font-size: 1rem;
}

nav button:hover{
    background-color: white;
    color:black;
    transition: linear 0.2s;
}

/*-----------------END NAV---------------
--------------------MODAL--------------*/

#modal{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    z-index: 1;
    left:0;
    top:0;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#modal-container{
    margin:10vw auto;
    width: 30vw;
    height: 30vw;
    min-width:375px;
    min-height:500px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    background: white
}

#modal-container .row{
    display:grid;
    grid-template-columns: [line1] 45% [line2] auto;
    justify-items: start;
    justify-content: start;
    padding: 0 10%;
    background-color: blanchedalmond;
}

#modal-container h1{
    font-size:1.5rem;
}

.flex_total_center{
    display:flex;
    justify-content: center;
    align-items: center;
}

#submit{
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: brown;
    border:1px solid white;
    color:white;
    width: 100%;
    font-size: 1.6rem;
}

#modal-container label{
    font-size: 1.1rem;
}

#modal-container input, #modal-container select {
    width:100%;
    border:2px dotted black;
    font-size:1.3rem;
}

#modal-container input:focus, #modal-container select:focus {
   outline: none;
}


/*---------------END MODAL----------------
--------------BOOKS CONTAINER-------------*/

#books-container{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    gap:75px;
    padding-top:40px;
    padding-bottom:120px;
    background:repeating-linear-gradient(
        #ffbf60 0%,
        #966F33 315px,
        transparent 310px,
        transparent 355px,
        #d7aa67 355px,
        #966F33 375px,
        blanchedalmond 375px
    ),repeating-linear-gradient(
        -45deg,
        #966F33 1%,
        blanchedalmond 1.5%
    );
}

.book-wrap{
    width: 16vw;
    min-width: 200px;
    height: 24vw;
    min-height: 300px;
    perspective: 800px;
    cursor: pointer;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
}

.book-inner{
    width:100%;
    height: 100%;
    border-radius: 0px 3px 3px 0px;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
}

.book-front{
    width:100%;
    height: 100%;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    top: 0; bottom: 0; left: 0; right: 0;
    background-size: cover;
    position:absolute;
    border-radius: 0px 3px 3px 0px;
}

.url{
    display: none;
    position: absolute;
    top:0;
    left:0;
}

.book-front button{
    margin-bottom:20px;
}

.pages{
    display: block;
    width:20px;
    height: 98%;
    margin: auto;
    background:repeating-linear-gradient(
        90deg,
        rgb(167, 147, 147) 1px,
        rgb(167, 147, 147) 3px,
        rgba(255,255,255,1) 3px,
        rgba(255,255,255,1) 5px
    );
    position:absolute;
    top:3px;
    right:-10px;
    transform: rotate3d(0,1,0,70deg) translateX(10px);
}

.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;bottom:0;left:0;right: 0;
    border-radius: 0px 3px 3px 0px;
    transform: translateZ(-20px) translateX(10px);
    -webkit-transform: translateZ(-20px) translateX(10px);
}

.book-frontal, .book-back, .pages, .cover, .side{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.book-back{
    width: 16vw;
    min-width: 200px;
    height: 24vw;
    min-height: 300px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 3px 0px 0px 3px;
    cursor:pointer;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

.side{
    display: block;
    width:25px;
    height: 99%;
    margin: auto;
    background:black;
    position:absolute;
    left:0px;
    top:1px;
    border-radius: 2px;
    background: linear-gradient(
        90deg,
        rgb(30, 30, 30) 2px,
        rgb(60, 60, 60) 5%,
        black 95%,
        rgb(60, 60, 60) 95%,
        black 100%
    );
    transform: rotateY(-180deg) rotate3d(0,1,0,70deg) translateZ(13px) translateX(8px);
    -webkit-transform: rotateY(-180deg) rotate3d(0,1,0,70deg) translateZ(13px) translateX(8px);
}

.book-general{
    width:100%;
    height:100%;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: transform 0.4s ;
}

.flip{
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

.back-content{
    margin: 0 auto;
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    justify-content:space-evenly;
}

.book-wrap:hover .book-inner{
    transform: rotate3d(0,1,0,-10deg);
    -webkit-transform: rotate3d(0,1,0,-10deg);
}

.row{
    width:90%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    color:black;
}

.delete-button{
    width:auto;
    height: 1rem;
    position: absolute;
    top: -25px;
    right:0;
    color: red;
    font-weight: bold;
    background-color: white;
    overflow: hidden;
    padding: 3px 3px 20px 3px; 
    border:0px;
    text-transform: uppercase;
    cursor: pointer;
}

.delete-button::after{
    content:'X';
    width:100%;
    height:100%;
    margin: 0 auto;
    color:white;
    background-color:red;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    padding-top:2px;
    transform: translateX(60px);
    transition: all ease-in-out 0.3s;
    -webkit-transform: translateX(60px);
    -webkit-transition: all ease-in-out 0.3s;
}

.delete-button:hover::after{
    transition: all ease-in-out 0.3s;
    transform: translateX(0px);
    -webkit-transition: all ease-in-out 0.3s;
    -webkit-transform: translateX(0px);
}

.row p{
    font-size: 1.2rem;
    color:white;
    padding:0;
}

.row h2{
    padding:0;
    padding-bottom:3px;
    font-size:0.8rem;
    color:white;
    text-transform: uppercase;
}

#read-state{
    background-color:rgba(0, 255, 107, 0.58);
    color:white;
    font-weight:bold;
    padding: 3px 5px;
}

#not-read-state{
    background-color:rgba(255, 72, 0, 0.46);
    color:white;
    font-weight:bold;
    padding: 3px 5px;
}

.not-visible{
    position:absolute;
    top:0;
    left:0;
    display: none;
}

.row h2::first-letter{
    font-size:1.3rem;
}

.read-button{
    position:absolute;
    bottom:0;
    right:0;
    height:2.5vw;
    min-height: 30px;
    width:100%;
    color:black;
    text-transform: uppercase;
    background-color: white;
    border:0;
    border-top:2px dotted black;
    transition: all 0.4s;
    overflow: hidden;
    padding: 3px 5px;
    font-size:0.7rem;
    font-weight: bold;
    cursor:pointer;
    -webkit-transition: all 0.4s;
}

.read-button:hover{
    transition: all 0.4s;
    cursor:pointer;
    color: white;
    background-color: black;
    border-top:2px dotted white;
}

/*--------END BOOK CONTAINER---------
---------------FOOTER--------------*/

footer{
    background-color: black;
    color:white;
    width:100%;
    font-size: 1rem;
}

footer ol{
    list-style: none;
    text-align: center;
    display:flex;
    justify-content: center;
    padding:30px 0;
    gap:10px;
}

footer li{
    font-size:1rem;
    letter-spacing: 0.8px;
}

/*-----------END FOOTER-----------*/
/*-------------MEDIA--------------*/
@media only screen and (min-width: 1025px){

    #modal-container h1{
        font-size:2vw;
    }

    #modal-container label, #modal-container input, #modal-container select{
        font-size:1.3vw;
    }

    #books-container{
        padding-bottom: 15vmax;
        padding-top: 3vmax;
        gap:8vw;
        background:repeating-linear-gradient(
            #ffbf60 0%,
            #966F33 24vw,
            transparent 24vw,
            transparent 30vw,
            #d7aa67 30vw,
            #966F33 32vw,
            blanchedalmond 32vw
        ),repeating-linear-gradient(
            -45deg,
            #966F33 1%,
            blanchedalmond 1.5%
        );
    }

    .book-wrap{
        perspective: 80vw;
    }

    .delete-button{
        height:1vw;
        width: 5vw;
        font-size: 1vw;
        top: -2vw;
        padding-bottom:1.5vw;
    }

    .delete-button::after{
        content:'X';
        width:100%;
        height:100%;
        margin: 0 auto;
        transform: translateX(5vw);
        color:white;
        background-color:red;
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        padding-top:2px;
        transition: all ease-in-out 0.3s;
        -webkit-transform: translateX(5vw);
        -webkit-transition: all ease-in-out 0.3s;
    }

    header h1{
        font-size:3vw;
        padding:2vw;
    }

    header h1::first-letter{
        font-size:3.5vw;
    }

    header p{
        font-size:2vw;
        padding-bottom:2vw;
    }

    nav ul{
        height:2.4vw;
    }

    nav button{
        font-size: 1.2vw;
        padding:0.3vw 0.5vw;
        margin-left:0.4vw;
    }

    .row h2{
        font-size: 1.2vw;
    }

    .row h2::first-letter{
        font-size: 1.3vw;
    }

    .row p{
        font-size: 1.2vw;
        padding-bottom:0.1vw;
    }

    .row button{
        font-size: 1vw;
    }

    footer li{
        font-size:1.4vw;
    }
}